@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');
.bmi-result {
    text-align: center;
    font-weight: bold;
    font-size: 2em;
    border-radius: 10pxs;
    box-shadow: 5px 5px 12px rgb(99, 96, 96);
    height: 300px;
    background-color: rgb(82, 91, 228);
    
}
h1{
    background-color: rgb(82, 91, 228);
    color: white;
    text-align: center;
    padding: 10px;
    font-family: 'Akaya Telivigala', cursive;
}
button{
    color: white;
    background-color: rgb(82, 91, 228);
    padding: 10px;
    width: 100px;
    border: none;
    border: none;
}
button:hover{
    background-color: rgb(8, 24, 245);
   width: 120px;
   height: 40px;
  

}
img{
    width: 250px;
    height: 270px;
    float: left;
   border-radius: 10px;
}
div{
    color:rgb(251, 250, 252);
    font-family: 'Akaya Telivigala', cursive;
}